{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      <div class="post-meta">
        <span class="post-time"><i class="icon-calendar-empty"></i> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            <i class="icon-folder-empty"></i>
            {{ range $idx, $category := . -}}
              {{ if ne $idx 0 -}}
                &#183;
              {{ end -}}
              <a href="{{ "categories" | relLangURL }}/{{ $category | urlize }}/">
                  {{ $category }}
              </a>
            {{ end -}}
          </div>
        {{- end }}
        {{ if and .Site.Params.busuanzi.enable .Site.Params.busuanzi.pagePV -}}
          {{ $valueSpan := printf `<i class="icon-eye"></i> <span id="busuanzi_value_page_pv"><i class="%s"></i></span>` .Site.Params.busuanzi.spinner -}}
          <span id="busuanzi_container_page_pv" class="more-meta"> {{ printf (T "pagePV") $valueSpan | safeHTML }} </span>
        {{- end }}
        {{ if and .Site.DisqusShortname .Site.Params.ShowDisqusCount (ne .Params.comment false) }}
          <span class="more-meta"><i class="icon-comment-empty"></i> <a href="{{ .Permalink }}#disqus_thread"><i class="icon-spin6 animate-spin"></i></a></span>
        {{ end }}
      </div>
      {{ if .Site.Params.moreMeta -}}
        <div class="post-meta">
          <span class="more-meta"><i class="icon-doc"></i> {{ T "wordCount" .WordCount }} </span>
          <span class="more-meta"><i class="icon-clock"></i> {{ T "readingTime" .ReadingTime }} </span>
        </div>
      {{- end }}
    </header>

    <!-- TOC -->
    {{- partial "post/toc.html" . -}}

    <!-- Outdated Info Warning -->
    {{- partial "post/outdated-info-warning.html" . -}}

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright -->
    {{- partial "post/copyright.html" . -}}

    <!-- Reward -->
    {{- partial "post/reward.html" . -}}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . -}}
            <i class="icon-tag"></i>
            <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end -}}
        </div>
      {{- end -}}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection -}}
          <a class="prev" href="{{ .RelPermalink }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection -}}
          <a class="next" href="{{ .RelPermalink }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>
{{- end }}
