<article class="post">
  <header class="post-header">
    <h1 class="post-title"><a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <div class="post-meta">
      <span class="post-time"><i class="icon-calendar-empty"></i> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
      {{- if .Site.Params.showCategoriesInSummary }}
        {{ with .Params.categories -}}
          <div class="post-category">
            <i class="icon-folder-empty"></i>
            {{ range $idx, $category := . -}}
              {{ if ne $idx 0 -}}
                &#183;
              {{ end -}}
              <a href="{{ "categories" | relLangURL }}/{{ $category | urlize }}/">
                  {{ $category }}
              </a>
            {{ end -}}
          </div>
        {{- end }}
      {{- end }}
      {{- if .Site.Params.moreMeta }}
        <span class="more-meta"><i class="icon-clock"></i> {{ T "readingTime" .ReadingTime }} </span>
      {{- end }}
      {{ if and .Site.DisqusShortname .Site.Params.ShowDisqusCount (ne .Params.comment false) }}
        <span class="more-meta"><i class="icon-comment-empty"></i> <a href="{{ .Permalink }}#disqus_thread"><i class="icon-spin6 animate-spin"></i></a></span>
      {{ end }}
    </div>
  </header>
  <!-- Content -->
  <div class="post-content">
    <div class="post-summary">
      {{ .Summary }}
    </div>
    <div class="read-more">
      <a href="{{ .RelPermalink }}" class="read-more-link">{{ T "readMore" }}</a>
    </div>
  </div>
</article>
