<div class="social-links">
  {{- range $name, $path := .Site.Params.social }}
    {{- if $path }}
      {{- $realName := slicestr $name 2 }}
      <a href="{{ $path | safeURL }}" class="iconfont icon-{{ $realName }}" title="{{ $realName }}"></a>
    {{- end }}
  {{- end }}
  {{ if .Site.LanguagePrefix -}}
    <a href="{{ .Site.LanguagePrefix | absURL }}/index.xml" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>
  {{- else -}}
    <a href="{{ .Site.RSSLink }}" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>
  {{- end }}
</div>

<div class="copyright">
  <span class="power-by">
    {{ (printf (T "powered") `<a class="hexo-link" href="https://gohugo.io">Hugo</a>`) | safeHTML }}
  </span>
  <span class="division">|</span>
  <span class="theme-info">
    {{ T "theme" }} - 
    <a class="theme-link" href="https://github.com/olOwOlo/hugo-theme-even">Even</a>
  </span>

  {{ if .Site.Params.busuanzi.enable -}}
  <div class="busuanzi-footer">
    {{ if and .Site.Params.busuanzi.enable .Site.Params.busuanzi.sitePV -}}
      {{ $valueSpan := printf `<span id="busuanzi_value_site_pv"><i class="%s"></i></span>` .Site.Params.busuanzi.spinner -}}
      <span id="busuanzi_container_site_pv"> {{ printf (T "sitePV") $valueSpan | safeHTML }} </span>
      {{ if .Site.Params.busuanzi.siteUV }}<span class="division">|</span>{{ end }}
    {{- end }}
    {{ if and .Site.Params.busuanzi.enable .Site.Params.busuanzi.siteUV -}}
      {{ $valueSpan := printf `<span id="busuanzi_value_site_uv"><i class="%s"></i></span>` .Site.Params.busuanzi.spinner -}}
      <span id="busuanzi_container_site_uv"> {{ printf (T "siteUV") $valueSpan | safeHTML }} </span>
    {{- end }}
  </div>
  {{- end }}

  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy; 
    {{ if ne .Site.Params.since $current -}}
      {{ .Site.Params.since }} - 
    {{ end }}
    {{- $current }}
    <span class="heart">
      <i class="iconfont icon-heart"></i>
    </span>
    <span class="author">{{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
  </span>
</div>
